{% extends "base.html" %}

{% block title %}Информация о сайте - Python Page Analyzer{% endblock %}
{% block content %}
<main class="flex-grow-1">
    <div class="container-lg mt-3">
      <h1>Сайт: {{ url[1] }}</h1>
  <div class="table-responsive">
    <table class="table table-bordered table-hover text-nowrap" data-test="url">
      <tbody>
        <tr>
          <td>ID</td>
          <td>{{ url[0] }}</td>
        </tr>
        <tr>
          <td>Имя</td>
          <td>{{ url[1] }}</td>
        </tr>
        <tr>
          <td>Дата создания</td>
          <td>{{ url[2] }}</td>
        </tr>
      </tbody>
    </table>
  </div>
    <h2 class="mt-5 mb-3">Проверки</h2>
    <form method="post" action="{{ url_for('add_check_url', id=url[0])}}">
      <input type="hidden" name="url" value="{{ url[1] }}">
      <input type="submit" class="btn btn-primary" value="Запустить проверку">
    </form>
  <div>
    <table class="table table-bordered table-hover mt-2" data-test="checks">
      <tbody>
    <tr>
        <th>ID</th>
        <th>Код ответа</th>
        <th>h1</th>
        <th>title</th>
        <th>description</th>
        <th>Дата создания</th>
    </tr>
    {% if data %}
  {% for check in data %}
    <tr>
      {% for value in check %}
        <td>{{ value or '' }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  {% endif %}
      </tbody>
    </table>
  </div>
    </div>
  </main>
{% endblock %}
